In [277]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [278]:
pip install odfpy

Requirement already satisfied: odfpy in /usr/local/lib/python3.7/dist-packages (1.4.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from odfpy) (0.7.1)

In [279]:
!ls drive/MyDrive/LPNet/bruno/

 AGU-FTTH-B03.xlsx	     'PLANILHA ESTRUTURA DE REDE LPNET-DESKTOP.xlsx'
 merge_dataframes.ipynb      'PONTO DE ACESSO.ods'
 OLT-01-AGU-HEADEND-2_0.csv

In [280]:
import os

In [281]:
path = 'drive/MyDrive/LPNet/bruno/'


name_of_file = []

for filename in os.listdir(path):
    if filename.endswith('.csv'):
        name_of_file.append(filename.split("-")[2])

name_of_file[0]

'AGU'

In [271]:
df_ponto = pd.read_excel('/content/drive/MyDrive/LPNet/bruno/PONTO DE ACESSO.ods')
df_desktop = pd.read_excel('/content/drive/MyDrive/LPNet/bruno/PLANILHA ESTRUTURA DE REDE LPNET-DESKTOP.xlsx')

In [272]:
df_olt_agu = pd.read_csv('/content/drive/MyDrive/LPNet/bruno/OLT-01-AGU-HEADEND-2_0.csv', sep=",")

In [273]:
import re

In [274]:
df_ponto = df_ponto.fillna("-")
df_olt_agu = df_olt_agu.fillna("-")
df_ponto = df_ponto[["ponto_roteamento"]]

df_olt_agu

     3   1  B01  101187584 NULL
0    3   2  B02  101711872    -
1    3   3  B03  102236160    -
2    3   4  B08  102760448    -
3    3   5  B04  103284736    -
4    3   6  B05  103809024    -
..  ..  ..  ...        ...  ...
154  2  12  A26   73400320    -
155  2  13  A27   73924608    -
156  2  14  A28   74448896    -
157  2  15  A29   74973184    -
158  2  16  A30   75497472    -

[159 rows x 5 columns]

In [275]:
df_olt_agu

     3   1  B01  101187584 NULL
0    3   2  B02  101711872    -
1    3   3  B03  102236160    -
2    3   4  B08  102760448    -
3    3   5  B04  103284736    -
4    3   6  B05  103809024    -
..  ..  ..  ...        ...  ...
154  2  12  A26   73400320    -
155  2  13  A27   73924608    -
156  2  14  A28   74448896    -
157  2  15  A29   74973184    -
158  2  16  A30   75497472    -

[159 rows x 5 columns]

In [276]:
df_olt_agu.columns=['slot', 'pon', 'ftth', 'senha', 'val']

df_olt_agu=df_olt_agu[["slot", "pon", "ftth"]]
df_olt_agu["key"]= name_of_file[0] + "-" +df_olt_agu["ftth"]


df_olt_agu

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

     slot  pon ftth      key
0       3    2  B02  AGU-B02
1       3    3  B03  AGU-B03
2       3    4  B08  AGU-B08
3       3    5  B04  AGU-B04
4       3    6  B05  AGU-B05
..    ...  ...  ...      ...
154     2   12  A26  AGU-A26
155     2   13  A27  AGU-A27
156     2   14  A28  AGU-A28
157     2   15  A29  AGU-A29
158     2   16  A30  AGU-A30

[159 rows x 4 columns]

In [282]:
#df_olt = df_olt_agu[df_olt_agu['ftth']=="B03"] #df_olt_agu[df_olt_agu['ftth'].str.contains("b03", flags=re.IGNORECASE, regex=True)]
#df_olt['key']=df_olt['ftth']

#df_olt

In [283]:
sp=df_ponto["ponto_roteamento"].str.rsplit("-", expand=True)

df_ponto['key']=sp[0]+ "-" + sp[4]

df_ponto

                       ponto_roteamento      key
0                    BBN-CONCENTRADOR03      NaN
1                    BTU-CONCENTRADOR03      NaN
2                    BBN-CONCENTRADOR02      NaN
3                    SML-CONCENTRADOR01      NaN
4                    AVE-CONCENTRADOR01      NaN
...                                 ...      ...
42736  LIS-FTTH-A03 | LIS-FTTH-A03-SP08  LIS-A03
42737  LIS-FTTH-A46 | LIS-FTTH-A46-SP04  LIS-A46
42738  LIS-FTTH-A46 | LIS-FTTH-A46-SP05  LIS-A46
42739  LIS-FTTH-A46 | LIS-FTTH-A46-SP06  LIS-A46
42740  LIS-FTTH-A46 | LIS-FTTH-A46-SP07  LIS-A46

[42741 rows x 2 columns]

In [284]:

df_ponto = df_ponto[df_ponto['ponto_roteamento'].str.contains(
    "SP[0-9][0-9]$", regex=True)]



df_ponto

                       ponto_roteamento      key
1532   LEP-FTTH-B2-15 | FTTH-B2-15-SP03   LEP-B2
1536   LEP-FTTH-B2-15 | FTTH-B2-15-SP01   LEP-B2
1537   LEP-FTTH-B2-15 | FTTH-B2-15-SP02   LEP-B2
1538   LEP-FTTH-B2-15 | FTTH-B2-15-SP04   LEP-B2
1539   LEP-FTTH-B2-15 | FTTH-B2-15-SP05   LEP-B2
...                                 ...      ...
42736  LIS-FTTH-A03 | LIS-FTTH-A03-SP08  LIS-A03
42737  LIS-FTTH-A46 | LIS-FTTH-A46-SP04  LIS-A46
42738  LIS-FTTH-A46 | LIS-FTTH-A46-SP05  LIS-A46
42739  LIS-FTTH-A46 | LIS-FTTH-A46-SP06  LIS-A46
42740  LIS-FTTH-A46 | LIS-FTTH-A46-SP07  LIS-A46

[31057 rows x 2 columns]

In [285]:
df_ponto.shape

(31057, 2)

In [286]:
merged = df_ponto.merge(df_olt_agu,on='key')
merged=merged.iloc[ :, -5:]
merged=merged[['slot', 'pon', 'ftth', 'ponto_roteamento']]

In [287]:
merged

     slot  pon ftth                  ponto_roteamento
0       1    3  A01  AGU-FTTH-A01 | AGU-FTTH-A01-SP01
1       1    3  A01  AGU-FTTH-A01 | AGU-FTTH-A01-SP02
2       1    3  A01  AGU-FTTH-A01 | AGU-FTTH-A01-SP03
3       1    3  A01  AGU-FTTH-A01 | AGU-FTTH-A01-SP04
4       1    3  A01  AGU-FTTH-A01 | AGU-FTTH-A01-SP05
..    ...  ...  ...                               ...
734    11    6  A33  AGU-FTTH-A33 | AGU-FTTH-A33-SP02
735    11    6  A33  AGU-FTTH-A33 | AGU-FTTH-A33-SP01
736    11    6  A33  AGU-FTTH-A33 | AGU-FTTH-A33-SP03
737    11    6  A33  AGU-FTTH-A33 | AGU-FTTH-A33-SP04
738    11    6  A33  AGU-FTTH-A33 | AGU-FTTH-A33-SP05

[739 rows x 4 columns]

In [290]:
merged.to_excel('/content/drive/MyDrive/LPNet/bruno/'+name_of_file[0]+'.xlsx')